.footer {
    width: 100%;
    background-color: var(--secundary-color);
    padding: 1rem;
}

.contact__h3, .footer__h3 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.footer__h3 {
    text-align: center;
}

.contact__p {
    font-size: 0.7rem;
    width: 80%;
    margin-bottom: 1rem;
}

.social-media__container {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.social-media__logo {
    width: 1.4rem;
    height: 1.4rem;
}

.footer__p {
    margin-top: 1rem;
    font-size: 0.7rem;
    text-align: center;
}

.contact__h3, .contact__p, .footer__p, .social-media__p, .footer__h3 {
    color: var(--light-color);
}

@media screen and (min-width: 48rem) {
    .contact {
        display: flex;
        justify-content: space-evenly;
    }

    .contact__container {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .contact__p {
        text-align: center;
    }

}