<div class="footer">
    <div class="contact">
        <div class="contact__container">
            <h3 class="contact__h3">Dirección:</h3>
            <p class="contact__p">Independencia S/N, 56599 Gral Manuel Ávila Camacho, Méx.</p>
        </div>
        <div class="contact__container">
            <h3 class="contact__h3">Teléfono:</h3>
            <p class="contact__p">5528348205</p>
        </div>
        <div class="contact__container">
            <h3 class="contact__h3">Correo:</h3>
            <p class="contact__p">hola-gmail.com</p>
        </div>
    </div>
    <h3 class="footer__h3"></h3>
    <div class="social-media">
        <p>facebook</p>
        <p>X</p>
    </div>
    <hr/>
    <p class="footer__p">Todos los derechos reservados a la Escuela Preparatoria Oficial 185</p>
</div>