<div class="home">
    <div class="hero">
        <div class="hero-container">
            <h1 class="hero-container__h1">Bienvenido a la EPO 185</h1>
            <img class="hero-container__logo" src="../../../assets/multimedia/img/webp/epo-185.webp" title="logo" alt="logo">
            <h2 class="hero-container__h2">El futuro se construye aquí</h2>
            <h2 class="hero-container__h2">¡Tu preparación comienza ahora!</h2>
        </div>
        <div class="hero-layer"></div>
    </div>
    <div class="mission-vision">
        <div class="mission-vision__card">
            <h2 class="mission-vision__h2">Misión</h2>
            <p class="mission-vision__p">
                Ofertar un servicio educativo de calidad, acorde a los cambios sociales y tecnológicos, 
                que exige la nueva sociedad del conocimiento, con un sentido humanista basado en el 
                fomento y práctica de valores y desarrollo de habilidades socioemocionales en los 
                estudiantes. 
            </p>
        </div>
        <div class="mission-vision__card">
            <h2 class="mission-vision__h2">Visión</h2>
            <p class="mission-vision__p">
                Consolidarnos como una institución educativa, 
                con una formación integral en los estudiantes, 
                proporcionando las herramientas necesarias para resolver
                los desafíos a los que habrán de enfrentarse; al continuar 
                con su educación superior o incorporarse al campo laboral, 
                y sepan enfrentarse a la condiciones económicas, políticas y 
                sociales de nuestro país, considerando su idiosincrasia y capacidades 
                que definen su personalidad favoreciendo la cultura del esfuerzo y la autonomía, 
                basados en los pilares de la educación, aprender a conocer, aprender a hacer, aprender
                 a ser y aprender a convivir.
            </p>
        </div>
    </div>
    <div class="curriculum">
            <h2 class="curriculum__h2">Plan de estudios</h2>
            <p class="curriculum__p">
                El <a class="curriculum__download" href="../../../assets/multimedia/documents/plan-estudios.pdf" download>plan de estudios</a> de bachillerato general es la estructura curricular que organiza las materias, 
                créditos académicos, horas prácticas y actividades paraescolares que un estudiante debe cursar para 
                concluir el nivel medio superior. 
                8 Módulos de Formación para el Trabajo:
                Estos módulos complementan la formación con habilidades prácticas y conocimientos técnicos.
                180 horas de carga curricular:
                Esta carga se distribuye en los seis semestres que conforman el bachillerato.
                20 horas de actividades paraescolares obligatorias:
                Estas actividades complementan la formación académica y promueven el desarrollo de habilidades y valores.
            </p>
            <p class="curriculum__p curriculum__p--mt">El plan de estudios de Bachillerato General en Edomex se compone de:</p>
            <ul class="curriculum__ol">
                <li class="curriculum__li">42 Unidades de Aprendizaje Curricular:
                Estas son las materias que forman parte del currículo general.</li>
                <li class="curriculum__li">8 Módulos de Formación para el Trabajo:
                Estos módulos complementan la formación con habilidades prácticas y 
                conocimientos técnicos.</li>
                <li class="curriculum__li">180 horas de carga curricular:
                Esta carga se distribuye en los seis semestres que conforman el bachillerato.</li>
                <li class="curriculum__li">20 horas de actividades paraescolares obligatorias:
                Estas actividades complementan la formación académica y promueven el desarrollo de habilidades y valores. </li>
            </ul>
            <h2 class="curriculum__h2 curriculum__h2--mt">Calendario escolar</h2>
            <p class="curriculum__p curriculum__p--mt">
                El <a class="curriculum__download" href="../../../assets/multimedia/documents/calendario_escolar_ms_2024-2025.pdf" download>Calendario Escolar</a> para Educación Media Superior es el documento oficial
                que establece las fechas clave del ciclo escolar para las instituciones
                educativas de este nivel en la entidad. Este calendario es emitido por la 
                Secretaría de Educación, Ciencia, Tecnología e Innovación del Estado de México (SECTEI).
            </p>
            <img class="curriculum__calendary" src="../../../assets/multimedia/img/webp/calendario_escolar_ms_2024-2025.webp" alt="calendario escolar" title="calendario escolar">
        </div>
        <div class="location">
            <h2 class="location__h2">Localización</h2>
            <!---->
            <iframe class="location__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.085189920545!2d-98.7688455!3d19.3221093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce21461ca1c14b%3A0x141a1397e5a4ac4e!2sESCUELA%20PREPARATORIA%20OFICIAL%20185!5e0!3m2!1ses-419!2smx!4v1747508704209!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="exam">
            <h2 class="exam__h2">Prueba de diagnostico segundo semestre</h2>
            <p class="exam__p">Para comenzar la prueba para SEGUNDO SEMESTRE haz click
                <a class="exam__a" href="https://forms.gle/upvT1wBmQPWDESDbA" target="_blank">aquí.</a>
            </p>
            <h2 class="exam__h2">Prueba de diagnostico cuarto semestre</h2>
            <p class="exam__p">Para comenzar la prueba para CUARTO SEMESTRE haz click
                <a class="exam__a" href="https://forms.gle/z35vse3WEykSktbi6" target="_blank">aquí.</a>
            </p>
        </div>
</div>
