<div class="nem">
    <h1 class="nem__h1">Nueva Escuela Mexicana</h1>
    <p class="nem__p">La Nueva Escuela Mexicana (NEM) es un proyecto educativo con enfoque
        crítico, humanista y comunitario para formar estudiantes con una visión
        integral.
        Busca la equidad, la excelencia y la mejora continua en la educación,
        para lo cual coloca al centro de la acción pública el máximo logro de
        aprendizaje de las niñas, niños y adolescentes.
    </p>
    <h2 class="nem__h2">Principios de la Nueva Escuela Mexicana</h2>
    <p class="nem__p">Son un conjunto de valores y orientaciones que
        buscan promover una educación integral, equitativa, inclusiva 
        y de alta calidad, centrada en el estudiante y la comunidad. 
        Estos principios guían la práctica pedagógica y el funcionamiento 
        del sistema educativo en México.
    </p>
    <p class="nem__p">Los siguientes son los principios en que se fundamenta la NEM:</p>
    <ol class="nem__ul">
        <li class="nem__li">
            <b>Fomento de la identidad con México:</b> La NEM fomenta el amor a la Patria, el aprecio
            por su cultura, el conocimiento de su historia y el compromiso con los valores
            plasmados en su Constitución Política. “La cultura puede considerarse actualmente
            como el conjunto de los rasgos distintivos, espirituales y materiales, intelectuales y
            afectivos que caracterizan a una sociedad o un grupo social. Ella engloba, además de
            las artes y las letras, los modos de vida, los derechos fundamentales al ser humano,
            los sistemas de valores, las tradiciones y las creencias y que la cultura da al hombre
            la capacidad de reflexionar sobre sí mismo. Es ella la que hace de nosotros seres
            específicamente humanos, racionales, críticos y éticamente comprometidos. A
            través de ella discernimos los valores y efectuamos opciones. A través de ella el
            hombre se expresa, toma conciencia de sí mismo, se reconoce como un proyecto
            inacabado, pone en cuestión sus propias realizaciones, busca incansablemente
            nuevas significaciones, y crea obras que lo trascienden” (UNESCO 1982).
        </li>
        <li class="nem__li">
            <b>Responsabilidad ciudadana:</b> La responsabilidad ciudadana implica la aceptación de
            derechos y deberes personales y comunes. Bajo esta idea, las y los estudiantes
            formados en la NEM respetan los valores cívicos esenciales de nuestro tiempo:
            honestidad, respeto, justicia, solidaridad, reciprocidad, lealtad, libertad, equidad y
            gratitud, entre otros.
        </li>
        <li class="nem__li">
            <b>La honestidad es el comportamiento fundamental para el cumplimiento de la
            responsabilidad social, que permite que la sociedad se desarrolle con base en la
            confianza y en el sustento de la verdad de todas las acciones para permitir una
            sana relación entre los ciudadanos.</b>
        </li>
        <li class="nem__li">
            <b>Participación en la transformación de la sociedad:</b> En la NEM la superación de uno
            mismo es base de la transformación de la sociedad. El sentido social de la educación
            implica una dimensión ética y política de la escuela, en cualquier nivel de formación,
            lo que representa una apuesta por construir relaciones cercanas, solidarias y fraternas que superen la indiferencia y la apatía para lograr en conjunto la
            transformación de la sociedad.
            <br><br>
            La formación ciudadana es un camino para la transformación social y depende de
            educar personas críticas, participativas y activas que procuren procesos de
            transformación por la vía de la innovación, la creación de iniciativas de producción
            que mejoren la calidad de vida y el bienestar de todos.
            <br><br>
            Quienes son formados en la Nueva Escuela Mexicana emplean el pensamiento
            crítico gestado a partir de análisis, reflexión, diálogo, conciencia histórica,
            humanismo y argumentación fundada para el mejoramiento de los ámbitos social,
            cultural y político. Asimismo, poseen capacidades que favorecen el aprendizaje
            permanente, la incorporación de métodos colaborativos e innovadores, avances
            tecnológicos e investigación científica y usan la libertad creativa para innovar y
            transformar la realidad en beneficio de una mejor distribución de la riqueza.
            <br><br>
            Las y los estudiantes formados en la NEM tienen el conocimiento y las capacidades
            para promover la transformación de la sociedad y asumen que una nación soberana
            tiene en el centro al conjunto de su población, en el contexto de la diversidad que la
            integra como nación y llevan a cabo acciones de transformación: en su organización,
            en la producción y en sus condiciones de bienestar.
            <br><br>
            Luchan porque la transformación busque el bienestar de todas y todos y que
            combata la desigualdad en todos los ámbitos en los que les toque intervenir; para
            ello utilizan con justicia los saberes, habilidades y herramientas que han obtenido en
            su educación. 
            <br><br>            
            Tienen las capacidades para lograr el conocimiento necesario en métodos y avance
            tecnológico para lograr el aprendizaje permanente. Propician la libertad creativa
            para innovar y transformar la realidad. Comprenden que las humanidades y la
            filosofía, las ciencias sociales, naturales y experimentales, las matemáticas, el civismo,
            la historia, las artes, la tecnología, la literacidad, el deporte, la salud, el cuidado del
            medio ambiente, constituyen factores centrales para el desarrollo integral y
            armónico del individuo y del país.
        </li>
        <li class="nem__li">
            <b>Respeto de la dignidad humana:</b>
            La NEM contribuye al desarrollo integral del
            individuo, para que ejerza plena y responsablemente sus capacidades. Promueve el
            respeto irrestricto a la dignidad y los derechos humanos de las personas, con base en
            la convicción de la igualdad de todos los individuos en derechos, trato y oportunidades.
            <br><br>
            La NEM asume la educación desde el humanismo, base filosófica que fundamenta
            los procesos del Sistema Educativo Nacional, permitiendo desde ella establecer los
            fines de la educación y los criterios para nuevas formas de enseñanza y aprendizaje;
            así como para vislumbrar nuevos horizontes de avance social, económico, científico,
            tecnológico y de la cultura en general, que conducen al desarrollo integral del ser
            humano en la perspectiva de una sociedad justa, libre y de democracia participativa.
            (Arteaga, 2014, p. 184)
        </li>
        <li class="nem__li">
            <b>Promoción de la interculturalidad:</b>
             La NEM fomenta la comprensión y el aprecio por
            la diversidad cultural y lingüística, así como el diálogo y el intercambio intercultural
            sobre una base de equidad y respeto mutuo.
            <br><br>
            La UNESCO declara que “la cultura, en su rica diversidad, posee un valor intrínseco
            tanto para el desarrollo como para la cohesión social y la paz. La diversidad cultural
            es una fuerza motriz del desarrollo, no sólo en lo que respecta al crecimiento
            económico, sino como medio de tener una vida intelectual, afectiva, moral y
            espiritual más enriquecedora.”
        </li>
        <li class="nem__li">
            <b>Promoción de la cultura de la paz:</b>
            La NEM forma a los educandos en una cultura
            de paz que favorece el diálogo constructivo, la solidaridad y la búsqueda de acuerdos
            que permiten la solución no violenta de conflictos y la convivencia en un marco de
            respeto a las diferencias.
            <br><br>
            La cultura de paz promovida por la NEM acoge las disposiciones previstas desde la
            Organización de las Naciones Unidas en la Agenda 2030 y en los trabajos del Decenio
            Internacional de una cultura de paz y no violencia para los niños del mundo,
            promovido por UNESCO de 2001 a 2010.
            <br><br>
            En la Agenda 2030, el objetivo 16 “Paz, justicia e instituciones sólidas”, refiere a
            promover sociedades pacíficas e inclusivas para el desarrollo sostenible, facilitar el 
            acceso a la justicia para todos y construir, a todos los niveles, instituciones eficaces e
            inclusivas que rindan cuentas.
            <br><br>
            UNESCO refiere que la cultura de paz son una serie de valores, actitudes y
            comportamientos que rechazan la violencia y previenen los conflictos tratando de
            atacar sus causas para solucionar los problemas mediante el diálogo y la negociación
            entre las personas, los grupos y las naciones. En el Programa de Acción para la Paz
            de 1999 se identifica la educación como uno de los ámbitos de acción, y participa
            mediante la revisión de planes de estudio para promover valores, actitudes y
            comportamientos que propicien la cultura de paz, como la solución pacífica de los
            conflictos, el diálogo, la búsqueda de consensos y la no violencia. Además, es desde
            el ámbito educativo que pueden impulsarse también: la promoción del desarrollo
            económico y sostenible, el respeto a los derechos humanos y de la niñez, la garantía
            de igualdad entre mujeres y hombres, la participación democrática, la comprensión,
            la tolerancia y la solidaridad, la comunicación participativa y la libre circulación de
            información y conocimientos.
        </li>
        <li class="nem__li">
            <b>Respeto por la naturaleza y cuidado del medio ambiente:</b>
             La NEM promueve una sólida conciencia ambiental que favorece la protección y conservación del entorno,
            la prevención del cambio climático y el desarrollo sostenible. Toma en cuenta los
            Objetivos del Desarrollo Sostenible y la Agenda 2030 de la Organización de las
            Naciones Unidas; le es de suma importancia desarrollar acciones para poder cumplir
            con el ODS13 (Acción por el Clima), de la mano con ODS14 (Vida Submarina), ODS15
            (Vida de Ecosistemas Terrestres) y el ODS11 (Ciudades y Comunidades Sostenibles).
            El sentido de pertenencia, nacional e intercultural es clave en este apartado, ya que
            gracias a estos valores las y los estudiantes pueden sentirse parte de algo más grande
            que ellos y les genera motivación de involucrarse activamente en la protección y
            desarrollo sostenible del mundo, ya que no sólo es hogar sino también origen de
            alimento, techo, vestido, recursos locales intercambiables con otras regiones, etc.
        </li>
    </ol>
    <p class="nem__p">Si te interesa puedes descargar el documento completo sobre la <a class="nem__a" href="../../../assets/multimedia/documents/transversalidad.pdf" download>Nueva Escuela Mexicana.</a></p>
    <h2 class="nem__h2 nem__h2--tr">Transversalidad</h2>
    <p class="nem__p">
        La transversalidad es definida como una estrategia curricular que permite 
        conectar los aprendizajes de manera significativa, integrando tanto el 
        conocimiento académico como las habilidades socioemocionales. 
        Su objetivo es dar un nuevo sentido a la acción pedagógica, 
        permitiendo que los estudiantes comprendan cómo los conocimientos adquiridos 
        en distintas áreas pueden aplicarse para interpretar y transformar su realidad.
    </p>
    <h2 class="nem__h2">Finalidades de la transversalidad en la NEM</h2>
    <ol class="nem__ol">
        <li class="nem__li">
            <b>Promover una formación integral:</b> no sólo se adquieren conocimientos, sino que se desarrollan actitudes, habilidades y valores.   
        </li>
        <li class="nem__li">
            <b>Conectar la escuela con la realidad del estudiante</b>, su comunidad y su contexto social, cultural y ambiental.
        </li>
        <li class="nem__li">
            <b>Favorecer el trabajo colaborativo</b>, interdisciplinario y con enfoque de proyectos.
        </li>
        <li class="nem__li">
            <b>Impulsar una educación más crítica, activa y significativa.</b>
        </li>
    </ol>
    <p class="nem__p">Si te interesa puedes descargar el documento completo sobre la <a class="nem__a" href="../../../assets/multimedia/documents/transversalidad.pdf" download>Transversalidad</a> en la Nueva Escuela Mexicana.</p>
</div>